data/IMDb/title.crew.tsv
data/IMDb/title.episode.tsv
data/IMDb/title.ratings.tsv
data/IMDb/.ipynb_checkpoints/title.crew-checkpoint.tsv
data/IMDb/new/name.basics.tsv
data/IMDb/new/name.basics.tsv.gz
data/IMDb/new/title.akas.tsv
data/IMDb/new/title.akas.tsv.gz
data/IMDb/new/title.basics.tsv
data/IMDb/new/title.basics.tsv.gz
data/IMDb/new/title.crew.tsv
data/IMDb/new/title.principals.tsv.gz
